.resource-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 52px;
}

.resource-item {
  text-align: center;
  border: 2px solid gray;
  padding: 16px;
  border-radius: 12px;
  background: white;
  cursor: pointer;
}

.resource-item:hover{
  background: transparent;
}

.resource-name {
  text-align: center;
}
