.product-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 16px 0;
  width: 100%;
}
.product-status-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.export-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.pagination-container{
  display: flex;
  gap: 10px;
  align-items: center;
}

.pagination-button{
  background: transparent;
  padding: 4px 8px;
  border: 1px solid gray;
  border-radius: 4%;
  cursor: pointer;
}
.pagination-button:disabled{
  pointer-events: none;
}

.pagination-button:hover{
  transform: scale(0.95);
}
